In [46]:
import pandas as pd
import numpy as np

In [47]:
cricketers = {
    'name': ['Virat', 'Rohit', 'Babar', 'Boult', "Bumrah", "Mujeeb", 'Nabi', 'Strokes'],
    'age': [31, 33, 25, 31, 26, 19, 35, 29],
    'grade': ['Best', "Better", "Good", 'Better', 'Good', 'Best', 'Better', 'Good'],
    'role': ['Batsman', 'Batsman', 'Batsman', 'Bowler', "Bowler", 'Bowler', 'All-Rounder', "All-Rounder"],
    'rating': [821, 855, 829, 722, 719, 701, 301, 285],
    'country': ["IND", 'IND', 'PAK', "NZ", 'IND', 'AFG', 'AFG', 'ENG']
}

In [48]:
cricketers = pd.DataFrame(cricketers)
cricketers

      name  age   grade         role  rating country
0    Virat   31    Best      Batsman     821     IND
1    Rohit   33  Better      Batsman     855     IND
2    Babar   25    Good      Batsman     829     PAK
3    Boult   31  Better       Bowler     722      NZ
4   Bumrah   26    Good       Bowler     719     IND
5   Mujeeb   19    Best       Bowler     701     AFG
6     Nabi   35  Better  All-Rounder     301     AFG
7  Strokes   29    Good  All-Rounder     285     ENG

In [49]:
# Data Binning (categorizing different data)
def binningFunction(col, cut_points, labels=None):
  minval = col.min()
  maxval = col.max()
  break_points = [minval] + cut_points + [maxval]
  print(break_points)
  if not labels:
    labels = range(len(cut_points) + 1)
  colBin = pd.cut(col, bins=break_points, labels=labels, include_lowest=True)
  return colBin

cut_points = [25, 30]
labels = ['young', 'senior', 'super-senior']
cricketers['Exp_category'] = binningFunction(cricketers['age'], cut_points, labels)
cricketers

[19, 25, 30, 35]

      name  age   grade         role  rating country  Exp_category
0    Virat   31    Best      Batsman     821     IND  super-senior
1    Rohit   33  Better      Batsman     855     IND  super-senior
2    Babar   25    Good      Batsman     829     PAK         young
3    Boult   31  Better       Bowler     722      NZ  super-senior
4   Bumrah   26    Good       Bowler     719     IND        senior
5   Mujeeb   19    Best       Bowler     701     AFG         young
6     Nabi   35  Better  All-Rounder     301     AFG  super-senior
7  Strokes   29    Good  All-Rounder     285     ENG        senior

In [50]:
# One Hot Encoding with pandas
columns  = ['role']
dummy_data = pd.get_dummies(cricketers[columns])
cricketers = pd.concat([cricketers, dummy_data], axis=1)
cricketers

,name,age,grade,role,rating,country,Exp_category,role_All-Rounder,role_Batsman,role_Bowler
0,Virat,31,Best,Batsman,821,IND,super-senior,0,1,0
1,Rohit,33,Better,Batsman,855,IND,super-senior,0,1,0
2,Babar,25,Good,Batsman,829,PAK,young,0,1,0
3,Boult,31,Better,Bowler,722,NZ,super-senior,0,0,1
4,Bumrah,26,Good,Bowler,719,IND,senior,0,0,1
5,Mujeeb,19,Best,Bowler,701,AFG,young,0,0,1
6,Nabi,35,Better,All-Rounder,301,AFG,super-senior,1,0,0
7,Strokes,29,Good,All-Rounder,285,ENG,senior,1,0,0

In [51]:
cricketers = cricketers.drop(columns, axis=1)
cricketers

,name,age,grade,rating,country,Exp_category,role_All-Rounder,role_Batsman,role_Bowler
0,Virat,31,Best,821,IND,super-senior,0,1,0
1,Rohit,33,Better,855,IND,super-senior,0,1,0
2,Babar,25,Good,829,PAK,young,0,1,0
3,Boult,31,Better,722,NZ,super-senior,0,0,1
4,Bumrah,26,Good,719,IND,senior,0,0,1
5,Mujeeb,19,Best,701,AFG,young,0,0,1
6,Nabi,35,Better,301,AFG,super-senior,1,0,0
7,Strokes,29,Good,285,ENG,senior,1,0,0